@model AllAcceptedAuctions
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .gogo {
            display: block;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px;
            border-radius: 40px;
            margin-bottom: 20px;
            border-top: 3px solid #010912;
            border-bottom: 3px solid #010912;
        }
    </style>
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Navbar Start -->
        <div class="container-fluid nav-bar bg-transparent">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
                <a href="/Home/HomePage" class="navbar-brand d-flex align-items-center text-center">
                    <div>
                        <img class="img-fluid" src="/img/pngwing.com.png" alt="" style="width: 70px; height: 70px;">
                    </div>
                    <pre> </pre>

                    <h1 class="	--bs-primary-bg-subtle ">ZAD</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="/Home/HomePage" class="nav-item nav-link active">Home</a>
                        <div class="nav-item dropdown">
                            <a href="/Users/GetAllAuctions" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Auctions</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="/Users/GetAllRealStateAuctions" class="dropdown-item">Real Estate</a>
                                <a href="/Users/GetAllCarsAuctions" class="dropdown-item">Vehicles</a>
                                <a href="/Users/GetAllOtherAuctions" class="dropdown-item">Others</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="/Users/UploadAuction" class="dropdown-item">Upload Auctions</a>
                            </div>
                        </div>
                        <a href="/Home/HowItWork" class="nav-item nav-link">H.I.W</a>

                        <a href="/Home/AboutUs" class="nav-item nav-link">About US</a>
                    </div>
                    @if (TempData["UserId"] != null)
                    {
                        <a href="/Users/UserDashboard/@TempData["UserId"]" class="btn btn-secondary --bs-primary-bg-subtle text-bg-primary p-2 px-3 d-none d-lg-flex">User Profile</a>
                    }
                    else
                    {
                        <a href="/Home/Login" class="btn btn-secondary --bs-primary-bg-subtle text-bg-primary p-2 px-3 d-none d-lg-flex">Login</a>

                    }
                    <!-- <div class="text-bg-primary p-3">Primary with contrasting color</div> -->


                </div>
            </nav>
        </div>
        <!-- Navbar End -->

        @if (TempData["EndAutionResult"] != null)
{
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline text-center text-xl">@TempData["EndAutionResult"]</span>
    </div>
}


        <!-- Header Start -->
        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">Find The <span class="text-primary">Best for you</span> Through Auctions</h1>
                    <p class="animated fadeIn mb-4 pb-2">
                        This website is distinguished in providing and facilitating online auction opportunities,
                        and it is unique in terms of security and product quality assurance.
                    </p>@if (TempData["UserId"] != null)
                    {

                    }
                    else
                    {
                        <a href="/Home/Login" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>

                    }
                </div>
                <div class="col-md-6 animated fadeIn">
                    <div class="owl-carousel header-carousel">
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="/img/im1.jpg" alt="">
                        </div>
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="/img/im2.jpg" alt="">
                        </div>
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="/img/im3.jpg" alt="">
                        </div>
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="/img/im4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->


<pre>

</pre>
        <!-- Category Start -->
        <div class="gogo">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Auction Types</h1>
                    <p>"ZAD Auction offers three main auction categories: Cars in vehicles, perfect properties in Real Estate, 
                        and unique treasures and antueqs in Miscellaneous. Join ZAD today and start bidding with confidence!"</p>
                </div>
                <div class="row g-4">
                    <div class="gogo" data-wow-delay="0.5s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="/Users/GetAllRealStateAuctions">
                            <div class="rounded p-5">
                                <div class="icon">
                                    <img class="img-fluid" src="/img/ricon.png" alt="Icon">
                                </div>
                                <h6>Real Estate</h6>
                                <span></span>
                            </div>
                        </a>
                    </div>
                    <div class="gogo" data-wow-delay="0.5s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="/Users/GetAllCarsAuctions">
                            <div class="rounded p-5">
                                <div class="icon">
                                    <img class="img-fluid" src="/img/cicon.png" alt="Icon">
                                </div>
                                <h6>Vehicles</h6>

                            </div>
                        </a>
                    </div>
                    <div class="gogo" data-wow-delay="0.5s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="/Users/GetAllOtherAuctions">
                            <div class="rounded p-5">
                                <div class="icon">
                                    <img class="img-fluid" src="/img/oicon.png" alt="Icon">
                                </div>
                                <h6>Others</h6>
                            </div>
                        </a>
                    </div>

                </div>


                </a>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- Category End -->
<pre>

</pre>



    <!-- Property List Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                        <h1 class="mb-3">Auctions List</h1>
                        <p>
                            "Explore ZAD Auction's upcoming events, featuring a diverse range of vehicles, real estate, and unique collectibles. Stay tuned and get ready to bid!"
                        </p>
                    </div>
                </div>

            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        @if (Model.AcceptedRealStateAuctions.Count() == 0)
                        {
                            <h4 style="display:flex;justify-content:center;align-items:center;color:dodgerblue;font-size:25px">there is no auctions avalible here</h4>
                        }
                        else
                        {
                            @foreach (var item in Model.AcceptedRealStateAuctions)
                            {
                                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="property-item rounded overflow-hidden">
                                        <div class="position-relative overflow-hidden">
                                            <a href="/Users/RealStateAuctionDetails/@item.RealStateAuctionId"><img class="img-fluid" src="/RealStateAuctionImages/@item.AuctionImage" alt=""></a>
                                            <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                            <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Shop</div>
                                        </div>
                                        <div class="p-4 pb-0">
                                            <h5 class="text-primary mb-3">$@item.MinimunSalePrice</h5>
                                            <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                            <p><i class="fa fa-map-marker-alt text-primary me-2"></i>@item.HouseAddress</p>
                                        </div>
                                        <div class="d-flex border-top">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>@item.NumberOfRooms Room</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>@item.NumberOfBathrooms Bath</small>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <!-- Property List End -->
            <!-- About Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="about-img position-relative overflow-hidden p-5 pe-0">
                                <img class="img-fluid w-100" src="/img/mon.jpg">
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <i class="fas fa-bullhorn"></i>
                            <h1 class="mb-4">Find The Best For You Through Auction</h1>
                            <h2 class="mb-4">For Sale: Jeep Wrangler 2020</h2
                            <p class="mb-4">This car has a special offer for two days, which is to start the auction at a low price</p>
                            <p><i class="fa fa-check text-primary me-3"></i>Year: 2020</p>
                            <p><i class="fa fa-check text-primary me-3"></i>Mileage: 15,000 km</p>
                            <p><i class="fa fa-check text-primary me-3"></i>Fuel Type: Gasoline</p>
                            <p><i class="fa fa-check text-primary me-3"></i>Transmission: Automatic</p>

                            <a class="btn btn-primary py-3 px-5 mt-3" href="">Auction Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->
            <!-- Call to Action Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="bg-light rounded p-3">
                        <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                            <div class="row g-5 align-items-center">
                                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                    <img class="img-fluid rounded w-100" src="/img/call-to-action.jpg" alt="">
                                </div>
                                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="mb-4">
                                        <h1 class="mb-3">Contact With Our Certified Agent</h1>
                                        <p>
                                            If you have any questions or need assistance, please do not hesitate to contact us. Our customer support team
                                            is always ready to answer your inquiries and provide the necessary help.
                                        </p>
                                    </div>
                                    <a href="" class="btn btn-primary py-3 px-4 me-2"><i class="fa fa-phone-alt me-2"></i>Make A Call</a>
                                    <a href="" class="btn btn-dark py-3 px-4"><i class="fa fa-calendar-alt me-2"></i>Get Appoinment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to Action End -->
            <!-- Testimonial Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                        <h1 class="mb-3">Our Clients Say!</h1>
                        <p>"At ZAD Auction, our Customer Reviews section provides valuable insights from users about their auction experiences. 
                            Browse through detailed feedback and ratings to see how others have rated their transactions and service. 
                            This section helps you make informed decisions and ensures transparency in our auction process. 
                            Share your own experience and contribute to our community’s trust!"</p>
                    </div>
                    <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                        <div class="testimonial-item bg-light rounded p-3">
                            <div class="bg-white border rounded p-4">
                                <p>"ZAD Auction for its user-friendly interface and smooth bidding process, 
                                    saying, 'I found exactly what I was looking for with ease.'</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid flex-shrink-0 rounded" src="/img/testimonial-1.jpg" style="width: 45px; height: 45px;">
                                    <div class="ps-3">
                                        <h6 class="fw-bold mb-1">Sarah M. </h6>
                                        <small>Client</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item bg-light rounded p-3">
                            <div class="bg-white border rounded p-4">
                                <p>appreciated the detailed listings and support, noting, 
                                  'The verification process gave me confidence in my purchase.'"</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid flex-shrink-0 rounded" src="/img/testimonial-2.jpg" style="width: 45px; height: 45px;">
                                    <div class="ps-3">
                                        <h6 class="fw-bold mb-1">John D. </h6>
                                        <small>Client</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item bg-light rounded p-3">
                            <div class="bg-white border rounded p-4">
                                <p>Was impressed by the variety of categories, stating, 
                                 'The range of items available is impressive, making it easy to find unique deals.'"</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid flex-shrink-0 rounded" src="/img/testimonial-3.jpg" style="width: 45px; height: 45px;">
                                    <div class="ps-3">
                                        <h6 class="fw-bold mb-1">Peter R.</h6>
                                        <small>Client</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial End -->
            <!-- Footer Start -->
            <div class="container-fluid bg-dark

 text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="container py-5">
                    <div class="row g-5">
                        <div class="col-lg-3 col-md-6">
                            <h5 class="text-white mb-4">Get In Touch</h5>
                            <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                            <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                            <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                            <div class="d-flex pt-2">
                                <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h5 class="text-white mb-4">Quick Links</h5>
                            <a class="btn btn-link text-white-50" href="/Home/AboutUs">About Us</a>
                            <a class="btn btn-link text-white-50" href="/Home/AboutUs">Contact Us</a>
                            <a class="btn btn-link text-white-50" href="">Our Services</a>
                            <a class="btn btn-link text-white-50" href="">Privacy Policy</a>
                            <a class="btn btn-link text-white-50" href="">Terms & Condition</a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h5 class="text-white mb-4">Photo Gallery</h5>
                            <div class="row g-2 pt-2">
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="/img/property-1.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="/img/property-2.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="/img/property-3.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="/img/property-4.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="/img/property-5.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="/img/property-6.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                                &copy; <a class="border-bottom" href="/Home/HomePage">MAZAD</a>, All Right Reserved.

                                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                Designed By <a class="border-bottom" href="https://htmlcodex.com">Mazad Team</a>
                            </div>
                            <div class="col-md-6 text-center text-md-end">
                                <div class="footer-menu">
                                    <a href="/Home/HomePage">Home</a>
                                    <a href="">Cookies</a>
                                    <a href="">Help</a>
                                    <a href="">FQAs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
            <!-- Back to Top -->
            <a href="/Home/HomePage" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/wow/wow.min.js"></script>
        <script src="/lib/easing/easing.min.js"></script>
        <script src="/lib/waypoints/waypoints.min.js"></script>
        <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Template Javascript -->
        <script src="/js/main.js"></script>
</body>

</html>
